#container-countdown {
  display: flex;
  justify-content: center;
}
#countdown {
  font-size: 60px;
  margin-top: 100px;
  background: linear-gradient(to right, #98e4c4, #f0f3f5);
  border-radius: 20px;
  padding: 30px;
}
#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#myButton {
  display: none;
}

@media all and (max-width:500px) {
  #myButton {
    display: block;
    padding: 10px;
    background: linear-gradient(to right, #98e4c4, #f0f3f5);
    border-radius: 10px;
    border: none;
  }
}

body {
  background: linear-gradient(to right, #98e4c4, #f0f3f5);
}