.container {
  display: flex;
  justify-content: center;
  background-color: #DBECF4;
  font-size: 30px;
}
h1 {
  font-family: 'DynaPuff', cursive;
}
#btn-container {
  display: flex;
  justify-content: space-around;
}
#btn {
  margin-top: 50px;
  background-color: #DBECF4;
  padding: 25px;
  border-radius: 20px;
  border: none;
  font-family: 'DynaPuff', cursive;
  font-size: 20px;
}
#btn:hover {
  background: linear-gradient(to right, #ACB6E5, #74ebd5);
  }
  #myVideo {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }